<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!--全局性地开启或关闭所有映射器配置文件中已配置的任何缓存。 默认	true -->
        <setting name="cacheEnabled" value="true"/>
    </settings>
</configuration>